{
    "trailingComma": "none",
    "tabWidth": 2,
    "useTabs": true,
    "semi": false,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "arrowParens": "avoid",
    "importOrder": [
        "^@layout/(.*)$",
        "^@/components/(.*)$",
        "^@/ui/(.*)$",
        "^@/types/(.*)$",
        "^[./]"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}