@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}


body {
  background: url('/bg.svg');
  background-size: cover;
}

a.active {
  text-decoration: underline;
  color: #e0ff4f;
}
