@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    background: url('bg2.svg');
    background-size: cover;
}

.header {
    position: sticky;
    top: 0;
    border-radius: 0  0 1rem 1rem;
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(2rem);
}

.footer {
    border-radius: 1rem 1rem 0 0;
}

a.active {
    text-decoration: underline;
    color: #0000ff;
}